#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.task__list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.input {
  border: none;
  background-color: unset;
  font-family: 'PT Serif', serif;
  padding: .75rem .25rem;
  font-size: 1rem;
}

.input__title {
  width: 45vw;
}

.input__priority {
  text-align: center;
  width: 25vw;
}

.hidden {
  display: none;
}
