.task__item {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.input__status {
  height: 1.25rem;
  width: 1.25rem;
}

.button__delete {
  margin-left: .5rem;
}

.button__delete::before {
  content: "";
  width: 16px;
  height: 16px;
  background-image: url("../../assets/img/icons/delete.svg");
  background-size: cover;
  display: inline-block;
}